CREATE DATABASE [BdElCofreDelBordado]
USE [BdElCofreDelBordado]
GO
/****** Object:  Table [dbo].[ACCESORIOS]    Script Date: 16/12/2020 22:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESORIOS](
	[NOMBRE] [varchar](max) NULL,
	[TIPO] [varchar](max) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[PRECIO] [int] NULL,
	[ID_ACCESORIOS] [int] IDENTITY(1,1) NOT NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_ACCESORIOS] PRIMARY KEY CLUSTERED 
(
	[ID_ACCESORIOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID_ADMIN] [int] NOT NULL,
	[NOMBRE] [varchar](max) NULL,
	[CONTRASEÑA] [varchar](max) NULL,
	[ROL] [varchar](max) NULL,
	[DESK_ACCES] [varchar](max) NULL,
	[VIGENTE_IND] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AROS]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AROS](
	[NOMBRE] [varchar](max) NULL,
	[DESCRIPCIÓN] [varchar](max) NULL,
	[PRECIO] [int] NULL,
	[ID_AROS] [int] IDENTITY(1,1) NOT NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_AROS] PRIMARY KEY CLUSTERED 
(
	[ID_AROS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASTIDORES]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASTIDORES](
	[NOMBRE] [varchar](max) NULL,
	[DESCRIPCIÓN] [varchar](max) NULL,
	[PRECIO] [int] NULL,
	[ID_BASTIDOR] [int] IDENTITY(1,1) NOT NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_BASTIDORES] PRIMARY KEY CLUSTERED 
(
	[ID_BASTIDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[NOMBRE_C] [varchar](max) NULL,
	[APELLIDO_P] [varchar](max) NULL,
	[APELLIDO_M] [varchar](max) NULL,
	[DIRECCION_C] [varchar](max) NULL,
	[TELEFONO] [varchar](max) NULL,
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANZAS]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANZAS](
	[ID_INGRESOS] [int] NULL,
	[ID_PRESUPUESTO] [int] NULL,
	[ID_GASTOS] [int] NULL,
	[FECHA] [date] NULL,
	[ID_FINANZAS] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_FINANZAS] PRIMARY KEY CLUSTERED 
(
	[ID_FINANZAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GASTOS]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GASTOS](
	[ID_PRESUPUESTO] [int] NULL,
	[ID_MATERIALES] [int] NULL,
	[ID_GASTOS] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_GASTOS] PRIMARY KEY CLUSTERED 
(
	[ID_GASTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGRESOS]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGRESOS](
	[ID_PEDIDO] [int] NULL,
	[ID_INGRESO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_INGRESO] PRIMARY KEY CLUSTERED 
(
	[ID_INGRESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALES]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALES](
	[TIPO] [varchar](max) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[COSTO] [int] NULL,
	[ID_MATERIALES] [int] IDENTITY(1,1) NOT NULL,
	[STOCK] [varchar](max) NULL,
 CONSTRAINT [PK_MATERIALES] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIALES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_CLIENTES] [int] NULL,
	[PRECIO] [varchar](max) NULL,
	[FECHA] [date] NULL,
	[ESTADO] [varchar](max) NULL,
	[ID_PEDIDOS] [int] IDENTITY(1,1) NOT NULL,
	[ID_AROS] [int] NULL,
	[ID_BASTIDOR] [int] NULL,
	[ID_ACCESORIOS] [int] NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESUPUESTO]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESUPUESTO](
	[MONTO] [int] NULL,
	[FECHA] [date] NULL,
	[ID_PRESUPUESTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PRESUPUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRESUPUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCESORIOS] ON 

INSERT [dbo].[ACCESORIOS] ([NOMBRE], [TIPO], [DESCRIPCION], [PRECIO], [ID_ACCESORIOS], [STOCK]) VALUES (N'Ninguno', N'N/A', N'N/A', 0, 1, 0)
INSERT [dbo].[ACCESORIOS] ([NOMBRE], [TIPO], [DESCRIPCION], [PRECIO], [ID_ACCESORIOS], [STOCK]) VALUES (N'Colgante', N'Colgante precioso', N'Colgante de diamantes full diamantes', 2000, 2, 34)
INSERT [dbo].[ACCESORIOS] ([NOMBRE], [TIPO], [DESCRIPCION], [PRECIO], [ID_ACCESORIOS], [STOCK]) VALUES (N'Anillo', N'Dorado', N'Dorado con incrustaciones', 5000, 3, 33)
SET IDENTITY_INSERT [dbo].[ACCESORIOS] OFF
GO
INSERT [dbo].[ADMINISTRADOR] ([ID_ADMIN], [NOMBRE], [CONTRASEÑA], [ROL], [DESK_ACCES], [VIGENTE_IND]) VALUES (1, N'Gonzalo', N'123', N'ADMINISTRADOR', N'S', N'S')
INSERT [dbo].[ADMINISTRADOR] ([ID_ADMIN], [NOMBRE], [CONTRASEÑA], [ROL], [DESK_ACCES], [VIGENTE_IND]) VALUES (2, N'a', N'a', N'a', N'S', N'S')
INSERT [dbo].[ADMINISTRADOR] ([ID_ADMIN], [NOMBRE], [CONTRASEÑA], [ROL], [DESK_ACCES], [VIGENTE_IND]) VALUES (3, N'Diego', N'321', N'Admin', N'S', N'S')
GO
SET IDENTITY_INSERT [dbo].[AROS] ON 

INSERT [dbo].[AROS] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_AROS], [STOCK]) VALUES (N'Ninguno', N'N/A', 0, 1, 0)
INSERT [dbo].[AROS] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_AROS], [STOCK]) VALUES (N'Aro Grande', N'Feo', 1000, 2, 38)
INSERT [dbo].[AROS] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_AROS], [STOCK]) VALUES (N'Aro Mediano', N'Mediano', 2000, 3, 18)
SET IDENTITY_INSERT [dbo].[AROS] OFF
GO
SET IDENTITY_INSERT [dbo].[BASTIDORES] ON 

INSERT [dbo].[BASTIDORES] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_BASTIDOR], [STOCK]) VALUES (N'Ninguno', N'N/A', 0, 1, 0)
INSERT [dbo].[BASTIDORES] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_BASTIDOR], [STOCK]) VALUES (N'Bastidor Mediano', N'Mediano', 2000, 2, 17)
INSERT [dbo].[BASTIDORES] ([NOMBRE], [DESCRIPCIÓN], [PRECIO], [ID_BASTIDOR], [STOCK]) VALUES (N'Bastidor Grande', N'Grande', 3000, 3, 38)
SET IDENTITY_INSERT [dbo].[BASTIDORES] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([NOMBRE_C], [APELLIDO_P], [APELLIDO_M], [DIRECCION_C], [TELEFONO], [ID_CLIENTE]) VALUES (N'Gonzalo', N'Sandoval', N'Calfiñir', N'Calderon de la barca 520', N'45092018', 3)
INSERT [dbo].[CLIENTES] ([NOMBRE_C], [APELLIDO_P], [APELLIDO_M], [DIRECCION_C], [TELEFONO], [ID_CLIENTE]) VALUES (N'Diego', N'Morales', N'Farias', N'El pepe', N'72349082', 4)
INSERT [dbo].[CLIENTES] ([NOMBRE_C], [APELLIDO_P], [APELLIDO_M], [DIRECCION_C], [TELEFONO], [ID_CLIENTE]) VALUES (N'Mario', N'Tapia', N'pepe', N'donde pepitoo', N'879050435', 5)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
SET IDENTITY_INSERT [dbo].[FINANZAS] ON 

INSERT [dbo].[FINANZAS] ([ID_INGRESOS], [ID_PRESUPUESTO], [ID_GASTOS], [FECHA], [ID_FINANZAS]) VALUES (1, 1, 1, CAST(N'2020-11-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[FINANZAS] OFF
GO
SET IDENTITY_INSERT [dbo].[GASTOS] ON 

INSERT [dbo].[GASTOS] ([ID_PRESUPUESTO], [ID_MATERIALES], [ID_GASTOS]) VALUES (1, 1, 1)
INSERT [dbo].[GASTOS] ([ID_PRESUPUESTO], [ID_MATERIALES], [ID_GASTOS]) VALUES (1, 2, 2)
INSERT [dbo].[GASTOS] ([ID_PRESUPUESTO], [ID_MATERIALES], [ID_GASTOS]) VALUES (1, 4, 5)
SET IDENTITY_INSERT [dbo].[GASTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[INGRESOS] ON 

INSERT [dbo].[INGRESOS] ([ID_PEDIDO], [ID_INGRESO]) VALUES (8, 1)
SET IDENTITY_INSERT [dbo].[INGRESOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIALES] ON 

INSERT [dbo].[MATERIALES] ([TIPO], [DESCRIPCION], [COSTO], [ID_MATERIALES], [STOCK]) VALUES (N'Tela', N'Tela de algodón color azul', 10000, 1, N'40')
INSERT [dbo].[MATERIALES] ([TIPO], [DESCRIPCION], [COSTO], [ID_MATERIALES], [STOCK]) VALUES (N'Tela', N'Tela de nylon verde', 7000, 2, N'50')
INSERT [dbo].[MATERIALES] ([TIPO], [DESCRIPCION], [COSTO], [ID_MATERIALES], [STOCK]) VALUES (N'Greda', N'Greda', 10000, 4, N'20')
SET IDENTITY_INSERT [dbo].[MATERIALES] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 

INSERT [dbo].[PEDIDOS] ([ID_CLIENTES], [PRECIO], [FECHA], [ESTADO], [ID_PEDIDOS], [ID_AROS], [ID_BASTIDOR], [ID_ACCESORIOS]) VALUES (4, N'25000', CAST(N'2020-06-05' AS Date), N'En proceso', 8, 2, 2, 2)
INSERT [dbo].[PEDIDOS] ([ID_CLIENTES], [PRECIO], [FECHA], [ESTADO], [ID_PEDIDOS], [ID_AROS], [ID_BASTIDOR], [ID_ACCESORIOS]) VALUES (13, N'15990', CAST(N'2020-06-05' AS Date), N'En proceso', 12, 2, 2, 2)
INSERT [dbo].[PEDIDOS] ([ID_CLIENTES], [PRECIO], [FECHA], [ESTADO], [ID_PEDIDOS], [ID_AROS], [ID_BASTIDOR], [ID_ACCESORIOS]) VALUES (3, N'12000', CAST(N'2020-07-04' AS Date), N'Entregado', 17, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRESUPUESTO] ON 

INSERT [dbo].[PRESUPUESTO] ([MONTO], [FECHA], [ID_PRESUPUESTO]) VALUES (200000, CAST(N'2020-11-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PRESUPUESTO] OFF
GO
ALTER TABLE [dbo].[FINANZAS]  WITH CHECK ADD  CONSTRAINT [FK_FINANZAS_GASTOS] FOREIGN KEY([ID_GASTOS])
REFERENCES [dbo].[GASTOS] ([ID_GASTOS])
GO
ALTER TABLE [dbo].[FINANZAS] CHECK CONSTRAINT [FK_FINANZAS_GASTOS]
GO
ALTER TABLE [dbo].[FINANZAS]  WITH CHECK ADD  CONSTRAINT [FK_FINANZAS_INGRESOS] FOREIGN KEY([ID_INGRESOS])
REFERENCES [dbo].[INGRESOS] ([ID_INGRESO])
GO
ALTER TABLE [dbo].[FINANZAS] CHECK CONSTRAINT [FK_FINANZAS_INGRESOS]
GO
ALTER TABLE [dbo].[FINANZAS]  WITH CHECK ADD  CONSTRAINT [FK_FINANZAS_PRESUPUESTO] FOREIGN KEY([ID_PRESUPUESTO])
REFERENCES [dbo].[PRESUPUESTO] ([ID_PRESUPUESTO])
GO
ALTER TABLE [dbo].[FINANZAS] CHECK CONSTRAINT [FK_FINANZAS_PRESUPUESTO]
GO
ALTER TABLE [dbo].[GASTOS]  WITH CHECK ADD  CONSTRAINT [FK_GASTOS_MATERIALES] FOREIGN KEY([ID_MATERIALES])
REFERENCES [dbo].[MATERIALES] ([ID_MATERIALES])
GO
ALTER TABLE [dbo].[GASTOS] CHECK CONSTRAINT [FK_GASTOS_MATERIALES]
GO
ALTER TABLE [dbo].[GASTOS]  WITH CHECK ADD  CONSTRAINT [FK_GASTOS_PRESUPUESTO] FOREIGN KEY([ID_PRESUPUESTO])
REFERENCES [dbo].[PRESUPUESTO] ([ID_PRESUPUESTO])
GO
ALTER TABLE [dbo].[GASTOS] CHECK CONSTRAINT [FK_GASTOS_PRESUPUESTO]
GO
ALTER TABLE [dbo].[INGRESOS]  WITH CHECK ADD  CONSTRAINT [FK_INGRESOS_PEDIDOS] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDOS])
GO
ALTER TABLE [dbo].[INGRESOS] CHECK CONSTRAINT [FK_INGRESOS_PEDIDOS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_ACCESORIOS] FOREIGN KEY([ID_ACCESORIOS])
REFERENCES [dbo].[ACCESORIOS] ([ID_ACCESORIOS])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_ACCESORIOS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_AROS] FOREIGN KEY([ID_AROS])
REFERENCES [dbo].[AROS] ([ID_AROS])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_AROS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_BASTIDORES] FOREIGN KEY([ID_BASTIDOR])
REFERENCES [dbo].[BASTIDORES] ([ID_BASTIDOR])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_BASTIDORES]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CLIENTES] FOREIGN KEY([ID_CLIENTES])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_CLIENTES]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStock]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStock]

as
declare 
@ID_AR INT,
@ID_AC INT,
@ID_BA INT,
@STOCK_AC INT,
@STOCK_BA INT,
@STOCK_AR INT,
@ID int

BEGIN

	SELECT @ID = ID_PEDIDOS FROM PEDIDOS WHERE ID_PEDIDOS=(SELECT max(ID_PEDIDOS) FROM PEDIDOS);

	SELECT @ID_AC = ID_ACCESORIOS  FROM PEDIDOS WHERE ID_PEDIDOS = @ID
	SELECT @ID_BA = ID_BASTIDOR  FROM PEDIDOS WHERE ID_PEDIDOS = @ID
	SELECT @ID_AR = ID_AROS  FROM PEDIDOS WHERE ID_PEDIDOS = @ID

	SELECT @STOCK_AC = STOCK FROM ACCESORIOS WHERE ID_ACCESORIOS = @ID_AC
	SELECT @STOCK_BA = STOCK  FROM BASTIDORES WHERE ID_BASTIDOR = @ID_BA
	SELECT @STOCK_AR = STOCK  FROM AROS WHERE ID_AROS = @ID_AR

	IF @STOCK_AC >= 1 and @STOCK_BA >= 1 and @STOCK_AR >= 1
	BEGIN
		UPDATE ACCESORIOS set STOCK = (STOCK -1) WHERE ID_ACCESORIOS = @ID_AC
		UPDATE BASTIDORES SET STOCK = (STOCK -1) WHERE ID_BASTIDOR = @ID_BA
		UPDATE AROS SET STOCK = (STOCK -1) WHERE ID_AROS = @ID_AR
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStockExistente]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStockExistente]

@ID int

as
declare 
@ID_AR INT,
@ID_AC INT,
@ID_BA INT,
@STOCK_AC INT,
@STOCK_BA INT,
@STOCK_AR INT

BEGIN

	SELECT @ID_AC = ID_ACCESORIOS  FROM PEDIDOS WHERE ID_PEDIDOS = @ID
	SELECT @ID_BA = ID_BASTIDOR  FROM PEDIDOS WHERE ID_PEDIDOS = @ID
	SELECT @ID_AR = ID_AROS  FROM PEDIDOS WHERE ID_PEDIDOS = @ID

	SELECT @STOCK_AC = STOCK FROM ACCESORIOS WHERE ID_ACCESORIOS = @ID_AC
	SELECT @STOCK_BA = STOCK  FROM BASTIDORES WHERE ID_BASTIDOR = @ID_BA
	SELECT @STOCK_AR = STOCK  FROM AROS WHERE ID_AROS = @ID_AR

	IF @STOCK_AC >= 1 and @STOCK_BA >= 1 and @STOCK_AR >= 1
	BEGIN
		UPDATE ACCESORIOS set STOCK = (STOCK +1) WHERE ID_ACCESORIOS = @ID_AC
		UPDATE BASTIDORES SET STOCK = (STOCK +1) WHERE ID_BASTIDOR = @ID_BA
		UPDATE AROS SET STOCK = (STOCK +1) WHERE ID_AROS = @ID_AR
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStockModificado]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStockModificado]

@ID_AC INT,
@ID_BA INT,
@ID_AR INT

as
declare 

@STOCK_AC INT,
@STOCK_BA INT,
@STOCK_AR INT

BEGIN
	SELECT @STOCK_AC = STOCK FROM ACCESORIOS WHERE ID_ACCESORIOS = @ID_AC
	SELECT @STOCK_BA = STOCK  FROM BASTIDORES WHERE ID_BASTIDOR = @ID_BA
	SELECT @STOCK_AR = STOCK  FROM AROS WHERE ID_AROS = @ID_AR

	IF @STOCK_AC >= 1 and @STOCK_BA >= 1 and @STOCK_AR >= 1
	BEGIN
		UPDATE ACCESORIOS set STOCK = (STOCK -1) WHERE ID_ACCESORIOS = @ID_AC
		UPDATE BASTIDORES SET STOCK = (STOCK -1) WHERE ID_BASTIDOR = @ID_BA
		UPDATE AROS SET STOCK = (STOCK -1) WHERE ID_AROS = @ID_AR
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CalculoGanancia]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[CalculoGanancia]

@result varchar(1000) output,
@suma int = 0,
@suma2 int = 0

as 

set @suma = (SELECT SUM(CONVERT(int, Precio)) FROM PEDIDOS)
set @suma2 = (SELECT SUM (CONVERT(INT, COSTO)) FROM MATERIALES)

set @result = @suma - @suma2

GO
/****** Object:  StoredProcedure [dbo].[CalculoGastos]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[CalculoGastos]

@result varchar(1000) output,
@gasto int = 0

as 

set @gasto = (SELECT SUM (CONVERT(INT, COSTO)) FROM MATERIALES)

set @result = @gasto

GO
/****** Object:  StoredProcedure [dbo].[InsertarAccesorios]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertarAccesorios]

@NOMBRE varchar (max),
@TIPO VARCHAR (MAX),
@DESCRIPCION varchar(max), 
@PRECIO INT,
@STOCK INT
AS

INSERT INTO ACCESORIOS VALUES (@NOMBRE, @TIPO,@DESCRIPCION, @PRECIO, @STOCK)

GO
/****** Object:  StoredProcedure [dbo].[InsertarAros]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertarAros]

@NOMBRE varchar (max),
@DESCRIPCION varchar(max), 
@PRECIO INT,
@STOCK INT
AS

INSERT INTO AROS VALUES (@NOMBRE, @DESCRIPCION, @PRECIO, @STOCK)

GO
/****** Object:  StoredProcedure [dbo].[InsertarBastidores]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertarBastidores]

@NOMBRE varchar (max),
@DESCRIPCION varchar(max), 
@PRECIO INT,
@STOCK INT
AS

INSERT INTO BASTIDORES VALUES (@NOMBRE, @DESCRIPCION, @PRECIO, @STOCK)

GO
/****** Object:  StoredProcedure [dbo].[InsertarMateriales]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertarMateriales]

@TIPO varchar (max),
@DESCRIPCION varchar(max), 
@COSTO INT,
@STOCK varchar(max)
AS

INSERT INTO MATERIALES VALUES (@TIPO, @DESCRIPCION, @COSTO, @STOCK)

select * from MATERIALES
GO
/****** Object:  StoredProcedure [dbo].[InsertarPedido]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarPedido]

@ID_CLIENTES INT,
@PRECIO INT, 
@FECHA DATE,
@ESTADO varchar(MAX),
@ID_AROS INT, 
@ID_BASTIDOR INT,
@ID_ACCESORIOS INT
AS

INSERT INTO PEDIDOS VALUES (@ID_CLIENTES, @PRECIO, @FECHA, @ESTADO,@ID_AROS,@ID_BASTIDOR,@ID_ACCESORIOS)

GO
/****** Object:  StoredProcedure [dbo].[ListarAccesorios]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarAccesorios]
as
select * from ACCESORIOS order by ID_ACCESORIOS asc
GO
/****** Object:  StoredProcedure [dbo].[ListarAros]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarAros]
as
select * from AROS order by ID_AROS asc
GO
/****** Object:  StoredProcedure [dbo].[ListarBastidores]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarBastidores]
as
select * from BASTIDORES order by ID_BASTIDOR asc
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarClientes]
as

select * from CLIENTES order by ID_CLIENTE asc

GO
/****** Object:  StoredProcedure [dbo].[ListarPedidos]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarPedidos]
as
select ID_PEDIDOS AS ID,CLIENTES.NOMBRE_C AS CLIENTE ,ACCESORIOS.NOMBRE AS ACCESORIO ,AROS.NOMBRE AS AROS ,BASTIDORES.NOMBRE AS BASTIDORES , PEDIDOS.PRECIO, PEDIDOS.FECHA, PEDIDOS.ESTADO
FROM PEDIDOS
inner join ACCESORIOS ON PEDIDOS.ID_ACCESORIOS = ACCESORIOS.ID_ACCESORIOS
inner join AROS ON PEDIDOS.ID_AROS = AROS.ID_AROS
inner join BASTIDORES ON PEDIDOS.ID_BASTIDOR = BASTIDORES.ID_BASTIDOR
inner join CLIENTES ON PEDIDOS.ID_CLIENTES = CLIENTES.ID_CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[LOGIN_BD]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LOGIN_BD]

    @Nombre varchar(max),
    @Contraseña varchar(20),
    @mensaje varchar(1000) output
AS
BEGIN
    declare @webpassout varchar(20)

    if exists(select * 
              from ADMINISTRADOR
               where  NOMBRE=@Nombre and DESK_ACCES='S' and VIGENTE_IND='S')
    begin
       select @webpassout=CONTRASEÑA
       from ADMINISTRADOR
          where  NOMBRE=@Nombre and DESK_ACCES='S' AND  VIGENTE_IND='S'

       if @Contraseña=@webpassout
          select @mensaje='Bienvenido ' + NOMBRE
          from ADMINISTRADOR 
             where  NOMBRE=@Nombre
       else
          set @mensaje='Clave inválida'
    end

     else
        set @mensaje='no tiene permisos para acceder al sistema' 
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarAccesorios]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarAccesorios]

@NOMBRE varchar (max),
@DESCRIPCION varchar(max),
@TiPO varchar(max),
@PRECIO INT,
@STOCK INT,
@ID INT
AS

UPDATE ACCESORIOS SET NOMBRE=@NOMBRE, TIPO=@TiPO,DESCRIPCION=@DESCRIPCION, PRECIO=@PRECIO, STOCK=@STOCK

where ID_ACCESORIOS=@ID

GO
/****** Object:  StoredProcedure [dbo].[ModificarAros]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarAros]

@NOMBRE varchar (max),
@DESCRIPCION varchar(max), 
@PRECIO INT,
@STOCK INT,
@ID INT
AS

UPDATE AROS SET NOMBRE=@NOMBRE, DESCRIPCIÓN=@DESCRIPCION, PRECIO=@PRECIO, STOCK=@STOCK

where ID_AROS=@ID

GO
/****** Object:  StoredProcedure [dbo].[ModificarBastidores]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarBastidores]

@NOMBRE varchar (max),
@DESCRIPCION varchar(max), 
@PRECIO INT,
@STOCK INT,
@ID INT
AS

UPDATE BASTIDORES SET NOMBRE=@NOMBRE, DESCRIPCIÓN=@DESCRIPCION, PRECIO=@PRECIO, STOCK=@STOCK

where ID_BASTIDOR=@ID

GO
/****** Object:  StoredProcedure [dbo].[ModificarCliente]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarCliente]

@NOMBRE varchar (max),
@APELLIDO_P VARCHAR(MAX),
@APELLIDO_M VARCHAR(MAX),
@DIRECCION varchar(max), 
@TELEFONO INT,
@ID INT
AS

UPDATE CLIENTES SET NOMBRE_C=@NOMBRE, APELLIDO_P = @APELLIDO_P, APELLIDO_M = @APELLIDO_M, DIRECCION_C = @DIRECCION, TELEFONO = @TELEFONO

where ID_CLIENTE=@ID

GO
/****** Object:  StoredProcedure [dbo].[ModificarMateriales]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarMateriales]

@TIPO varchar (max),
@DESCRIPCION varchar(max), 
@COSTO INT,
@STOCK INT,
@ID INT
AS

UPDATE MATERIALES SET TIPO=@TIPO, DESCRIPCION=@DESCRIPCION, COSTO=@COSTO, STOCK = @STOCK

where ID_MATERIALES=@ID

GO
/****** Object:  StoredProcedure [dbo].[ModificarPedidos]    Script Date: 16/12/2020 22:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPedidos]

@ID_CLIENTES INT,
@PRECIO INT, 
@FECHA DATE,
@ESTADO varchar(MAX),
@ID_AROS INT, 
@ID_BASTIDOR INT,
@ID_ACCESORIOS INT,
@ID INT
AS

UPDATE PEDIDOS SET ID_CLIENTES= @ID_CLIENTES , PRECIO =@PRECIO, FECHA = @FECHA,  ESTADO = @ESTADO, ID_AROS = @ID_AROS, ID_BASTIDOR = @ID_BASTIDOR, ID_ACCESORIOS = @ID_ACCESORIOS

where ID_PEDIDOS=@ID

GO
